.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 20px;
    padding: 10px;
    border-bottom: 1px solid hsl(0, 1%, 82%);
    align-items: center;

} 

.tasks__item--done {
    text-decoration: line-through;
}

.tasks__item--hidden {
    display: none;
}
.tasks__button {
    border: none;
    padding: 0px;
    min-height: 30px;
    min-width: 30px;
    transition: 1s;
}

.tasks__button--remove {
    background-color: hsl(0, 100%, 50%);
}

.tasks__button--done {
    background-color: hsl(120, 100%, 25%);
    color: white;
}

.tasks__button--done:hover {
    background-color: hsl(120, 100%, 30%);
}

.tasks__button--remove:hover {
    background-color: hsl(0, 100%, 67%);
}