.buttons {
    border: none;
    padding: 15px;
    color: teal;
    background-color: transparent;
    transition: 1s;
}
  
.buttons:hover {
    color: hsl(180, 100%, 35%);
}
  
.buttons:disabled {
    color: #ccc;
}
.header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 45%;
}